
{% extends 'dataVisualizer/base.html' %}

  {% block body %}
{% load static %}


    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <a href="{% url 'dataVisualizer:tableview' %}">
                <img class="img-fluid rounded-circle" src="{% static 'dataVisualizer/images/TableFilter.png' %}" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Search upon our data</h2>
              <p>View tables, search your gene of interest and filter specific results. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="p-5">
              <a href="{% url 'dataVisualizer:charts-data' %}">
              <img class="img-fluid rounded-circle" src="{% static 'dataVisualizer/images/graph.jfif' %}" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-5">
              <h2 class="display-4">Graphical view</h2>
              <p>View graphical view of our data</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'dataVisualizer/images/articles.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Read our articles</h2>
              <p>Get the latest research in RNA editing</p>
            </div>
          </div>
        </div>
      </div>
    </section>



  {% endblock %}
